<div style="width: 100%; height: 100%; background-color: black;">
    <div style="width: 100%; height: 110px;">
        <div class="container">
            <img class="backgroundImage noselect" src="assets/images/default/{{enemy.pngString}}.png" width="80"
                height="80">
            <div>
            </div>

            <div style="height: 100%;">
                <div class="enemyName">
                    {{enemy.name}}
                </div>
                <div class="estimateText">
                    Next Hit:
                </div>
                <div [ngStyle]="{'color': enemy.nextHitTextColor}" class="statusText">
                    {{enemy.nextHit}}
                </div>
            </div>
        </div>
    </div>
    <div class="statsRowRow">
        <img style="float: left;" src="assets/images/default/Attackboost.png" class="noselect" width="40" height="40">
        <div class="labelDiv"> {{enemy.getCurrentAttack()}} </div>
    </div>

    <div class="statsRowRow">
        <img style="float: left;" src="assets/images/default/HPBoost.png" class="noselect" width="40" height="40">
        <mat-progress-bar class="healthBarBack" mode="determinate"
            value="{{(enemy.currentHealth/enemy.getMaxHealth())*100}}">
        </mat-progress-bar>
        <mat-progress-bar class="healthBarFront" mode="determinate"
            value="{{enemy.getPredictedCombatHealth(character)*100}}">
        </mat-progress-bar>
        <div class="barText">
            {{ enemy.currentHealth + "/" + enemy.getMaxHealth()}}
        </div>
    </div>
</div>