<div style="width: 100%; height: 100%; background-color: black;">
    <div style="width: 100%; height: 110px;">
        <div class="container" [ngClass]="(hovered && spellRecycle) ? 'recycleHover': ''">
            <img class="backgroundImage noselect" src="assets/images/default/{{spell.pngString}}.png" width="90"
                height="90">
            <img class="topImage noselect" src="assets/images/default/G_Yellow.png" width="90" height="90">
        </div>

        <div style="display: flex; align-items: center; height: 100%">
            <div class="spellName" [ngStyle]="{'font-size.px': spell.fontSize}">
                {{spell.name}}
            </div>
        </div>


    </div>

    <div style="width: 100%">
        <div class="manaText">
            Mana Cost: {{spell.manaCost}}
        </div>
        <button (mouseover)="hovered = true" (mouseout)="hovered = false" [ngClass]="getButtonsStyle()"
            style="background-color: black; height: 40px; float:right; border:2px solid white; margin-right: 4px;"
            (click)="pickUp()">{{pickupText()}}</button>
    </div>

    <div style="display: flex; justify-content: center; width:100%; height:100%">
        <div class="spellDescription">
            {{spell.description}}
        </div>
    </div>
</div>