<div class="resourceGroup noselect">
    <div class="resourceRow noselect">
        
        

          <!-- <div cdkDropListGroup>
            <div class="drag-container">
              <div
                cdkDropList
                [cdkDropListData]="todo"
                class="example-list">
                <div class="example-box" *ngFor="let item of todo; let i=index" [ngStyle]="{'left': '50 !important'} " cdkDrag>
                    <div class='container'>
                        <img src="assets/images/default/G_Fireball.png" class="backgroundImage noselect" width="40" height="40">
                        <img src="assets/images/default/GlyphSelector.png" class="topImage noselect" width="40" height="40">
                    </div>
                </div>
              </div>
            </div>
          
            <div class="drop-container">          
              <div
                cdkDropList
                [cdkDropListData]="done"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <img src="assets/images/default/G_Converter.png" class="backgroundImage noselect" width="40" height="40">

              </div>
            </div>
          </div> -->

          <dungeon></dungeon>



<!-- 
        
        <div class="resourcePanel">
            <div style="width:100%">
                <h1>Wood</h1>
                <h2>{{woodAmount}}</h2>
                <button>Gather</button> <a>+{{woodIncrement}}/sec</a>
            </div>
        </div>

        <div class="resourcePanel">
            <div style="width:100%">
                <h1>Bonfire</h1>
                <h2>13865.8</h2>
                <button>Gather</button> <a>+1/sec</a>

            </div>
        </div>
    </div>

    <div class="resourceRow">
        <div class="resourcePanel">
            <div style="width:100%">
                <h1>resource 2</h1>
                <h2>13865.8</h2>
                <button>Gather</button>
            </div>
        </div>

        <div class="resourcePanel">
            <div style="width:100%">
                <h1>resource 3</h1>
                <h2>13865.8</h2>
                <button>Burn</button> <a>+1/sec</a>
            </div>
        </div>
 -->



    </div>






</div>